h1{
    color: red;
    font-size: x-large;

    

    .blog-card{
        color: blueviolet;
        
    }


}


    
}
U

footer {
    color: indigo;
    font-size: smaller;
    text-align:center;
    font-weight: bold;
    font-family: sans-serif;
}
    

ul {
    list-style: none;
    color: green;
    display: -flex;
}


    





   


}





    