h1{
    color: red;
    font-size: larger;
    

    .blog-card{
        color: blueviolet;
        
    }
}
z

p {
    color: antiquewhiteSS;
    
}
U

footer {
    color: indigo;
    font-size: smaller;
}
    

ul {
    list-style: none;
    color: green;
    display: -flex;
}


    





   


}





    