@import url(first.css);
@import url(second.css);
@import url(third.css);

@media  (max-width: 500px) {
    
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-width: 1px;
        border: 1px solid red;
        border-style: solid;
    

        .nav {
            list-style: none;
            display: flex;
            flex-direction: row;

            .nav li {
                margin: 0 10px;

                .blog-container 
                {
                
                    display: grid;
                    grid-template-columns: r3 300px;

                    .blog-card {
                        border: 1px solid indigo;
                        .blog-card {
                            font-family: sans-serif;
                            font-size: 24px;
                            color: #888;

                        }
                    }
                }
            }
        }
    }
    
} {
    
}


body {
    background-color: lightgray
    
    header {
        bakground-color:antiquewhite
        height: 66px;
        header .logo {
            float: left;
            height: inherit
            margin-left: 2em;

            
            }
        }

    
    
    
    

    
        
    }

    
    ;
    
            
            
        }
        }
        }




            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                font-size: 1.1em;

                .blog-section {
                    display: -grid;
                    grid-template-columns: r3;300px;
                    gap: 100px;


                    .nav {
                        margin: 0 100px;
                        
                            
                                
                            }
                        }


                        
                        

                            
                            
                        }}

                    }
                }
            }
        }
        
        }
        
    }
    
}











    
    



}
}



}
}

.
}

    
}
.


    }

    
    
    
n

}



}


}

