@import "first.css";
@import "second.css";
@import "third.css";

body {
    background-color: white;
    font-size: 14
    ;
    font color: color: blue;

    footer {
        font-size: smaller;
        
        H

        .navhomepage {
            display: -flex;
            flex-ddirection: row;
            align-items: center;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;

                .blog-section {
                    display: -grid;
                    grid-template-columns: r3;300px;
                    gap: 100px;


                    .navhomepage {
                        margin: 0 100px;


                        h1 {
                            font-size: font-size: 16;

                            
                            }
                        }}

                    }
                }
            }
        }
        
        }
        
    }
    
}











    
    



}
}



}
}

.
}

    
}
.


    }

    
    
    
n

}



}


}

