social-section {
    display: block;
}




.author-section{
    padding: 4%;
    display: grid;
    align-content: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    
}


.avatar{
    width: 90%;
}
}
