a {
    text-decoration: none;

    li {
        display: -grid;
        padding: e5%;
        .social-section {
            display: 
            padding-top: 20%;
            
        }
    }
    }
}
}